<div class="container smart-container">
  <!-- Início do main -->
  <main>
    <!-- Inìcio da section do conteúdo do site -->
    <section class="sobre">
      <!-- Conteúdo de texto sobre o site -->
      <article>
        <h3>Distribuição dos convidados em setores</h3>
        <p>
          O programa busca o nome do setor para cada grupo de idade, inserindo a
          idade do convidado, o nome de cada setor é diferenciado por cores.
        </p>
        <ul class="collection with-header black">
          <li class="collection-header"><h4>Instruções de Uso</h4></li>
          <li class="collection-item">
            1. Insira uma idade válida no campo de texto chamado Idade do
            convidado.
          </li>
          <li class="collection-item">2. As idades aceitas são 13+ anos.</li>
          <li class="collection-item">
            3. Pressione o botão Buscar Setor e o resultado é exibido no campo
            de texto chamado resultado.
          </li>
        </ul>
        <ul class="collection with-header black">
          <li class="collection-header">
            <h4>Buscar Setor por idade do convidado</h4>
          </li>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">keyboard</i>
                  <input id="idade" type="number" class="validate" required />
                  <label for="idade">Idade do convidado*</label>
                  <span id="valiIdade" class="hidden">Valor obrigatório</span>
                </div>
                <div class="col s12">
                  <button
                    class="btn waves-effect waves-light"
                    type="button"
                    id="buscar"
                  >
                    Buscar Setor
                  </button>
                </div>
                <div id="divSetorResultado" class="input-field col s12">
                  <i class="material-icons prefix">drag_handle</i>
                  <input
                    id="setorResultado"
                    placeholder="Resultado"
                    type="text"
                    readonly
                  />
                </div>
              </div>
            </form>
          </div>
        </ul>
      </article>
    </section>
  </main>
  <!-- Fim do main -->
</div>
